:root {
    --html: #89ff90;
}


.container-md {
    transform: scale(.7);
    margin-bottom: 10px;
    margin-top: -20px;
}

.workexample {
    color: pink;
    text-align: center;
    margin-top: 20px;
}

body {
    background-image: url(../images/bgimg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    image-rendering: -webkit-optimize-contrast;
}

.navbar-text {
    color: rgba(255,255,255,.55);
}

header {
    background-color: black;
}

a:hover {
    color: #8638c8;
}

a {
    color: #0d6efd;
    text-decoration: underline;
    transition: 500ms ease-in-out;
}

.navbar-text a {
    color: rgba(255,255,255,.55);
}

.container a {
    color: white;
}

.container a:hover {
    color: #8638c8;
}

.navbar-text a:hover {
    color: #8638c8;
}

@font-face {font-family: "BerlinSans";
    src: url("http://db.onlinewebfonts.com/t/fe2027c27b6a24505f548c6fd2e1076d.eot"); /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/fe2027c27b6a24505f548c6fd2e1076d.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/fe2027c27b6a24505f548c6fd2e1076d.woff2") format("woff2"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/fe2027c27b6a24505f548c6fd2e1076d.woff") format("woff"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/fe2027c27b6a24505f548c6fd2e1076d.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/fe2027c27b6a24505f548c6fd2e1076d.svg#Berlin Sans FB") format("svg"); /* iOS 4.1- */
}

* {
    font-family: "BerlinSans";
}
